.box{
    width: 100px;
    height: 100px;
    border: 1px solid;
    animation: box1 1s infinite;
    border-radius: 100%;
    background-color: aqua;
    margin: 10% 30%;
}

@keyframes box1{
    from{
        background-color: aqua;
        border-radius: 100px 0px 100px 100px;
    }
    25%{
        background-color: blue;
        border-radius: 100px 100px 0px 100px;
    }
    50%{
        background-color: yellow;
        border-radius: 100px 100px 100px 0px;
    }
    75%{
        background-color: green;
        border-radius: 0px 100px 100px 100px;
    }
}