.block{
    width: 830px;
    height: 830px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
}




